// 颜色规范
$color-background = #fafafa
$color-theme = #3E73F9
$color-linear-gradient = linear-gradient(to right, #45A6F6, #3E73F9)

// 定义字体颜色
$font-color-l = #999
$font-color-m = #666
$font-color-d = #333
$font-color-white = #fff

// 定义字体规范
$font-size-xs = .24rem
$font-size-s = .28rem
$font-size-sm = .3rem
$font-size-m = .32rem
$font-size-ml = .34rem
$font-size-l = .36rem
$font-size-xl = .4rem
